@charset "UTF-8";
body {
  margin: 0;
}

body .container {
  bottom: 0;
  width: 100%;
  height: 100%;
  animation: normal;
}

body .container .loader {
  z-index: 99;
  position: fixed;
  background-color: red;
  border-top: 16px solid #9356DC;
  border-bottom: 16px solid #99E2D0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin  forwards;
  animation-duration: 1.5s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

body .container header {
  background-color: white;
  padding-left: 2em;
  margin: 0;
  position: relative;
}

body .container header .fa-arrow-left {
  position: absolute;
  top: 5em;
  color: black;
  align-self: center;
  top: 10px;
}

body .container header h1 {
  z-index: 1;
  font-family: 'Shrikhand', cursive;
  text-align: center;
  justify-content: space-between;
}

body .container section {
  background-color: whitesmoke;
}

body .container section .presentation {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 3em;
  justify-content: center;
}

body .container section .presentation h3 {
  font-weight: bolder;
  padding-top: 0.5em;
  text-align: center;
}

body .container section .presentation h4 {
  font-weight: normal;
  text-align: center;
}

body .container section .presentation h5 {
  background-color: #dddddd;
  height: 2em;
  align-self: center;
  text-align: center;
  padding-top: 1em;
  box-shadow: 0px 0px 3px black;
}

body .container section .presentation button {
  border-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  margin: auto;
  border-radius: 6em;
  background: linear-gradient(to bottom right, #e989dd, #ad5edb);
  box-shadow: 0px 1px 2px black;
  width: 15em;
  height: 4em;
  line-height: 2em;
  padding: 0.5em;
  cursor: pointer;
}

body .container section .presentation button button:hover {
  background-color: linear-gradient(to bottom right, #c89fc3, #a77bbe);
  box-shadow: 0px 2px 3px black;
}

body .container section .fonction {
  background-color: white;
  padding: 1em;
  text-align: left;
}

body .container section .fonction h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

body .container section .fonction ol li {
  cursor: pointer;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  list-style: none;
  width: auto;
  border-radius: 1em;
  background-color: #f5f5f5;
  padding: 1.5em;
  padding-left: 0;
  margin: 1.5em;
  text-align: center;
  box-shadow: 0px 2px 3px #4e4d4d;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}

body .container section .fonction ol li:hover {
  transform: scale(1);
  background-color: #f5edff;
  box-shadow: 0px 2px 5px black;
}

body .container section .fonction ol li .imageflottante {
  position: absolute;
  left: -1em;
  top: 20px;
  float: left;
  border: none;
  font-weight: bold;
  border-radius: 50%;
  color: white;
  background-color: #9356dc;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.7em;
  font-size: 1em;
}

body .container section .fonction ol li .choice_icons {
  float: left;
  padding-left: 1em;
  font-size: 2em;
  color: inherit;
  color: #7e7e7e;
  transition-property: transform;
  transition-duration: 400ms;
  cursor: pointer;
}

body .container section .fonction ol li .choice_icons:hover {
  color: #9356dc;
}

body .container .restaurants {
  font-weight: bolder;
  position: relative;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  line-height: 1em;
  background-color: whitesmoke;
  padding: 1em;
  text-align: center;
}

body .container .restaurants h2 {
  text-align: left;
  font-weight: bolder;
}

body .container .restaurants h3 {
  text-align: center;
  font-weight: bold;
}

body .container .restaurants h4 {
  font-weight: normal;
}

body .container .restaurants h6 {
  font-weight: normal;
}

body .container .restaurants img {
  border-radius: 1em 1em 0 0;
  position: relative;
  width: 100%;
}

body .container .restaurants .palette {
  background-color: white;
  width: auto;
  border-radius: 1em;
  margin-bottom: 2em;
  position: relative;
}

body .container .restaurants .palette .new {
  color: green;
  background-color: #99E2D0;
  position: absolute;
  width: 5em;
  top: 30px;
  right: 20px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

body .container .restaurants .note {
  background-color: white;
  width: auto;
  border-radius: 1em;
  margin-bottom: 2em;
  position: relative;
}

body .container .restaurants .note .new {
  color: green;
  background-color: #99E2D0;
  position: absolute;
  width: 5em;
  top: 30px;
  right: 20px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

body .container .restaurants .lafrançaise {
  background-color: white;
  width: auto;
  border-radius: 1em;
  margin-bottom: 2em;
  position: relative;
}

body .container .restaurants .lafrançaise .new {
  color: green;
  background-color: #99E2D0;
  position: absolute;
  width: 5em;
  top: 30px;
  right: 20px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

body .container .restaurants .delice {
  background-color: white;
  width: auto;
  border-radius: 1em;
  margin-bottom: 2em;
  position: relative;
}

body .container .restaurants .delice .new {
  color: green;
  background-color: #99E2D0;
  position: absolute;
  width: 5em;
  top: 30px;
  right: 20px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

body .container .restaurants .heart {
  text-align: right;
  padding-right: 4em;
  padding-bottom: 1em;
}

body .container .restaurants .fas.fa-heart {
  display: none;
  cursor: pointer;
  opacity: 1;
  background: -webkit-linear-gradient(#e989dd, #ad5edb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  -webkit-animation: fadein 2s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .container .restaurants .heart:hover .fas.fa-heart {
  display: inline;
  cursor: pointer;
  opacity: 1;
}

body .container .restaurants .fa-heart {
  cursor: pointer;
  font-size: 30px;
}

body .container .restaurants .far.fa-heart {
  color: black;
}

body .container .restaurants .heart:hover .far.fa-heart {
  opacity: 0;
}

body .container .restau {
  background-color: #f5f5f5;
  border-radius: 1em;
  width: 100%;
}

body .container .restau .carte {
  position: absolute;
  z-index: 2;
}

body .container .restau .view {
  position: relative;
  width: 100%;
  z-index: 1;
}

body .container .restau .view img {
  width: 100%;
  z-index: 1;
}

body .container .restau h1 {
  font-family: 'Shrikhand', cursive;
  display: flex;
  justify-content: space-between;
  margin: 1em 2em 0 2em;
}

body .container .restau h1 .fas.fa-heart {
  display: none;
  cursor: pointer;
  opacity: 1;
  background: -webkit-linear-gradient(#e989dd, #ad5edb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  -webkit-animation: fadein 2s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .container .restau h1 .coeur:hover .fas.fa-heart {
  display: inline;
  cursor: pointer;
  opacity: 1;
}

body .container .restau h1 .fa-heart {
  cursor: pointer;
  font-size: 30px;
}

body .container .restau h1 .far.fa-heart {
  color: black;
}

body .container .restau h1 .coeur:hover .far.fa-heart {
  opacity: 0;
}

body .container .restau h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 3px;
  text-align: left;
}

body .container .restau hr {
  margin: 0;
  width: 50px;
  border: 3px solid #99E2D0;
}

body .container .restau .one {
  -webkit-animation: fadein 500ms;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .container .restau .two {
  -webkit-animation: fadein 1s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .container .restau .three {
  -webkit-animation: fadein 1.5s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .container .restau .four {
  -webkit-animation: fadein 2s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .container .restau .five {
  -webkit-animation: fadein 2.5s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .container .restau .six {
  -webkit-animation: fadein 3s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .container .restau .seven {
  -webkit-animation: fadein 3.5s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .container .restau .eight {
  -webkit-animation: fadein 4s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .container .restau .nine {
  -webkit-animation: fadein 4.5s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .container .restau .ten {
  -webkit-animation: fadein 5s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .container .restau article {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 0 0 10px;
  margin: 15px;
  border-radius: 2em;
  height: 7em;
  box-shadow: 0px 1px 1px black;
}

body .container .restau h3 {
  font-weight: bolder;
  text-align: left;
}

body .container .restau p {
  text-align: left;
}

body .container .restau .price {
  position: relative;
  right: 2em;
  font-weight: bold;
  align-self: center;
  text-align: right;
}

body .container article .check {
  text-align: center;
  background-color: #99E2D0;
  width: 0px;
  overflow: hidden;
  align-self: center;
  justify-content: center;
  align-items: center;
  transition: width .5s;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

body .container article:hover > .check {
  width: 150px;
  align-self: center;
  align-self: center;
}

body .container article:hover > .check .fa-check-circle {
  transform: rotate(360deg);
  transition: transform .5s;
}

body .container .price {
  margin-left: auto;
  margin-right: 2em;
}

body .container .check {
  display: flex;
  right: 2em;
  height: 3.75em;
  vertical-align: middle;
  align-self: center;
  border-radius: 0 1em 1em 0;
  background-color: green;
  text-align: right;
  width: 0;
  overflow: hidden;
  transition: width .5s;
}

body .container span {
  align-self: center;
}

body .container .fas .fa-check-circle {
  vertical-align: bottom;
  text-align: center;
}

body .container .menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  top: -100px;
  z-index: 5;
  background-color: #f5f5f5;
  border-radius: 50px 50px 0 0;
  padding: 10px;
}

body .container .menu button {
  border-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  margin: auto;
  border-radius: 6em;
  background: linear-gradient(to bottom right, #e989dd, #ad5edb);
  box-shadow: 0px 1px 2px black;
  width: 15em;
  height: 4em;
  line-height: 2em;
  padding: 0.5em;
  cursor: pointer;
}

body .container .menu button button:hover {
  background-color: linear-gradient(to bottom right, #c89fc3, #a77bbe);
  box-shadow: 0px 2px 3px black;
}

body .container footer {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background-color: #3f3f3f;
  width: auto;
  color: white;
  height: auto;
  text-align: left;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

body .container footer h2 {
  font-weight: lighter;
  letter-spacing: 0.1em;
  color: white;
  font-family: 'Shrikhand', cursive;
  margin: 0;
}

body .container footer .icon_footer {
  color: white;
}

body .container footer .icon_footer .fas .fa-utensils {
  color: white;
}

body .container footer a[href^="mailto"] {
  color: white;
  text-decoration: none;
}
