@charset "UTF-8";
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body button {
  z-index: 10;
  border-style: none;
  font-weight: bold;
  color: white;
  margin: auto;
  border-radius: 6em;
  background-image: linear-gradient(135deg, #e989de, #ad5edc);
  box-shadow: 0px 1px 2px black;
  width: 15em;
  height: 4em;
  line-height: 2em;
  padding: 0.5em;
  cursor: pointer;
}

body button:hover {
  background: linear-gradient(to bottom right, #ebade2, #bd8bda);
  box-shadow: inset 10px 10px 800px rgba(221, 219, 219, 0.1);
}

body .loader {
  z-index: 99;
  position: fixed;
  background-color: red;
  border-top: 16px solid #9356DC;
  border-bottom: 16px solid #99E2D0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 2s forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    z-index: 0;
  }
}

body .fas.fa-heart {
  display: none;
  cursor: pointer;
  opacity: 1;
  background: -webkit-linear-gradient(#e989dd, #ad5edb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  -webkit-animation: fadein 2s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .heart:hover .fas.fa-heart {
  display: inline;
  cursor: pointer;
  opacity: 1;
}

body .fa-heart {
  cursor: pointer;
  font-size: 30px;
}

body .far.fa-heart {
  color: black;
}

body .heart:hover .far.fa-heart {
  opacity: 0;
}

header {
  background-color: white;
  padding-left: 2em;
  margin: 0;
  position: relative;
}

header .fa-arrow-left {
  position: absolute;
  top: 5em;
  color: black;
  align-self: center;
  top: 10px;
}

header h1 {
  z-index: 1;
  font-family: 'Shrikhand', cursive;
  text-align: center;
  justify-content: space-between;
}

section {
  background-color: whitesmoke;
}

section h2 {
  text-align: center;
  font-weight: bolder;
}

section .presentation {
  flex-direction: column;
  text-align: center;
  display: flex;
  padding-bottom: 3em;
  justify-content: center;
}

section .presentation h3 {
  font-weight: bolder;
  padding-top: 0.5em;
  text-align: center;
}

section .presentation h4 {
  font-weight: normal;
  text-align: center;
}

section .presentation h5 {
  background-color: #dddddd;
  height: 2em;
  align-self: center;
  text-align: center;
  padding-top: 1em;
  box-shadow: 0px 0px 3px black;
  width: 100%;
}

section .fonction {
  z-index: 10;
  background-color: white;
  padding: 1em;
  text-align: left;
}

section .fonction h2 {
  font-weight: bold;
}

section .fonction ol li {
  cursor: pointer;
  position: relative;
  font-weight: bold;
  list-style: none;
  width: auto;
  border-radius: 1em;
  background-color: #f5f5f5;
  padding: 1.5em;
  padding-left: 0;
  margin: 1.5em;
  text-align: center;
  box-shadow: 0px 2px 3px #4e4d4d;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}

section .fonction ol li:hover {
  transform: scale(1);
  background-color: #f5edff;
  box-shadow: 0px 2px 5px black;
}

section .fonction ol li .imageflottante {
  position: absolute;
  left: -1em;
  top: 20px;
  float: left;
  border: none;
  font-weight: bold;
  border-radius: 50%;
  color: white;
  background-color: #9356dc;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.7em;
  font-size: 1em;
}

section .fonction ol li .choice_icons {
  float: left;
  padding-left: 1em;
  font-size: 2em;
  color: inherit;
  color: #7e7e7e;
  transition-property: transform;
  transition-duration: 400ms;
  cursor: pointer;
}

section .fonction ol li .choice_icons:hover {
  color: #9356dc;
}

.restaurants {
  font-weight: bolder;
  position: relative;
  justify-content: space-around;
  line-height: 1em;
  background-color: whitesmoke;
  padding: 1em;
  text-align: center;
}

.restaurants h3 {
  text-align: center;
  font-weight: bold;
}

.restaurants h4 {
  font-weight: normal;
}

.restaurants h6 {
  font-weight: normal;
}

.restaurants img {
  border-radius: 1em 1em 0 0;
  position: relative;
  width: 100%;
}

.restaurants .palette {
  background-color: white;
  width: auto;
  border-radius: 1em;
  margin-bottom: 2em;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.restaurants .palette .new {
  color: green;
  background-color: #99E2D0;
  position: absolute;
  width: 5em;
  top: 30px;
  right: 20px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.restaurants .note {
  background-color: white;
  width: auto;
  border-radius: 1em;
  margin-bottom: 2em;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.restaurants .note .new {
  color: green;
  background-color: #99E2D0;
  position: absolute;
  width: 5em;
  top: 30px;
  right: 20px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.restaurants .lafrançaise {
  background-color: white;
  width: auto;
  border-radius: 1em;
  margin-bottom: 2em;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.restaurants .lafrançaise .new {
  color: green;
  background-color: #99E2D0;
  position: absolute;
  width: 5em;
  top: 30px;
  right: 20px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.restaurants .delice {
  background-color: white;
  width: auto;
  border-radius: 1em;
  margin-bottom: 2em;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.restaurants .delice .new {
  color: green;
  background-color: #99E2D0;
  position: absolute;
  width: 5em;
  top: 30px;
  right: 20px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.restaurants .heart {
  text-align: right;
  margin-right: 4em;
  padding-bottom: 1em;
}

.restau {
  background-color: #f5f5f5;
  border-radius: 1em;
  max-width: 100%;
  line-height: 1.5em;
}

.restau .carte {
  position: absolute;
  z-index: 2;
}

.restau .view {
  position: relative;
  width: 100%;
  z-index: 1;
}

.restau .view img {
  width: 100%;
  z-index: 1;
}

.restau h1 {
  font-family: 'Shrikhand', cursive;
  display: flex;
  justify-content: space-between;
  margin: 1em 2em 0 2em;
}

.restau h2 {
  margin-bottom: 3px;
  text-align: left;
}

.restau hr {
  margin: 0;
  width: 50px;
  border: 3px solid #99E2D0;
}

.restau .one {
  -webkit-animation: fadein 500ms;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.restau .two {
  -webkit-animation: fadein 1s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.restau .three {
  -webkit-animation: fadein 1.5s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.restau .four {
  -webkit-animation: fadein 2s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.restau .five {
  -webkit-animation: fadein 2.5s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.restau .six {
  -webkit-animation: fadein 3s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.restau .seven {
  -webkit-animation: fadein 3.5s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.restau .eight {
  -webkit-animation: fadein 4s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.restau .nine {
  -webkit-animation: fadein 4.5s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.restau .ten {
  -webkit-animation: fadein 5s;
  /* Safari et Chrome */
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.restau article {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 0 0 10px;
  margin: 15px;
  border-radius: 2em;
  height: 7em;
  box-shadow: 0px 1px 1px black;
}

.restau .dish {
  white-space: nowrap;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restau h3 {
  font-weight: bolder;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
}

.restau p {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
}

.restau .price {
  position: relative;
  right: 1px;
  font-weight: bold;
  align-self: center;
  text-align: right;
}

article .check {
  text-align: center;
  background-color: #99E2D0;
  width: 0px;
  overflow: hidden;
  align-self: center;
  justify-content: center;
  align-items: center;
  transition: width .5s;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

article:hover > .check {
  width: 100px;
  align-self: center;
  align-self: center;
}

article:hover > .check .fa-check-circle {
  transform: rotate(360deg);
  transition: transform .5s;
}

.price {
  margin-left: auto;
  margin-right: 1em;
  font-weight: bold;
}

.check {
  display: flex;
  right: 2em;
  height: 3.75em;
  vertical-align: middle;
  align-self: center;
  border-radius: 0 1em 1em 0;
  background-color: green;
  text-align: right;
  width: 0;
  overflow: hidden;
  transition: width .5s;
}

span {
  align-self: center;
}

.fas .fa-check-circle {
  vertical-align: bottom;
  text-align: center;
}

.menu {
  position: relative;
  flex-direction: column;
  text-align: center;
  display: flex;
  top: -100px;
  z-index: 5;
  background-color: #f5f5f5;
  border-radius: 50px 50px 0 0;
  padding: 10px;
}

footer {
  position: relative;
  font-weight: normal;
  background-color: #3f3f3f;
  width: auto;
  color: white;
  height: auto;
  text-align: left;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

footer h2 {
  font-weight: lighter;
  letter-spacing: 0.1em;
  color: white;
  font-family: 'Shrikhand', cursive;
  margin: 0;
}

footer .icon_footer {
  color: white;
}

footer .icon_footer .fas .fa-utensils {
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
  }
  header {
    position: relative;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }
  header a {
    position: relative;
    right: 300px;
  }
  section {
    width: 100%;
  }
  h2 {
    display: block;
  }
  .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: space-between;
  }
  .restau {
    background-color: #f5f5f5;
    border-radius: 1em;
    width: 100%;
  }
  .restau .meal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: space-between;
    width: 100%;
  }
  .restau .view {
    max-width: 50%;
    vertical-align: middle;
  }
  .restau img {
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
  }
  .restau .serving {
    width: 400px;
  }
  .restau .dish {
    white-space: nowrap;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .restau article:hover > .check {
    width: 50px;
    align-self: center;
    align-self: center;
  }
  .restau article:hover > .check .fa-check-circle {
    transform: rotate(360deg);
    transition: transform .5s;
  }
  footer {
    text-align: center;
    width: 100%;
    padding: 0;
  }
}
