$primaire: #9356dc;
$secondaire: #ff79da;
$whitish: #f5f5f5;
$tertiaire: #99e2d0;
$grayish: #dddddd;
$gray_dark: #353535;
$degrade: linear-gradient(to bottom right, #e989dd, #ad5edb);

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  button {
    z-index: 10;
    border-style: none;
    font-weight: bold;
    color: white;
    margin: auto;
    border-radius: 6em;
    background-image: linear-gradient(135deg, #e989de, #ad5edc);
    box-shadow: 0px 1px 2px black;
    width: 15em;
    height: 4em;
    line-height: 2em;
    padding: 0.5em;
    cursor: pointer;
  }
  button:hover {
    background: linear-gradient(to bottom right, #ebade2, #bd8bda);
  }

  //debut du spinner.
  .loader {
    z-index: 99;
    position: fixed;
    background-color: red;
    border-top: 16px solid $primaire;
    border-bottom: 16px solid $tertiaire;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: spin 2s forwards;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
      z-index: 0;
    }
  }
  //fin du spinner.

  .fas.fa-heart {
    display: none;
    cursor: pointer;
    opacity: 1;
    background: -webkit-linear-gradient(#e989dd, #ad5edb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    @-webkit-keyframes fadein {
      /* sur Safari et Chrome */
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  .heart:hover .fas.fa-heart {
    display: inline;
    cursor: pointer;
    @keyframes fadein {
      /* sur Safari et Chrome */
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .fa-heart {
    cursor: pointer;
    font-size: 30px;
  }
  .far.fa-heart {
    color: black;
  }
  .heart:hover .far.fa-heart {
    opacity: 0;
  }
}

//entete page.

header {
  background-color: white;
  padding-left: 2em;
  margin: 0;
  position: relative;
  .fa-arrow-left {
    position: absolute;
    color: black;
    align-self: center;
    top: 0.5em;
    font-weight: bold;
    left: 120px;
  }
  h1 {
    z-index: 1;
    font-family: "Shrikhand", cursive;
    text-align: center;
    justify-content: space-between;
    margin-right: 5px;
    padding-top: 0;
  }
  h2 {
    z-index: 1;
    font-family: "Shrikhand", cursive;
    text-align: center;
    justify-content: space-between;
    margin-right: 5px;
    padding-top: 0;
  }
}

//corp de la page.

section {
  background-color: whitesmoke;
  h2 {
    font-weight: bolder;
  }
  .presentation {
    flex-direction: column;
    text-align: center;
    display: flex;

    padding-bottom: 3em;
    justify-content: center;
    h3 {
      font-weight: bolder;
      padding-top: 0.5em;
      text-align: center;
      width: auto;
    }
    h4 {
      font-weight: normal;
      text-align: center;
    }
    h5 {
      background-color: $grayish;
      height: 2em;
      align-self: center;
      text-align: center;
      padding-top: 1em;
      box-shadow: 0px 0px 3px black;
      width: 100%;
    }
  }

  //choix preliminaire.

  .fonction {
    z-index: 10;
    background-color: white;
    padding-bottom: 1em;
    text-align: left;
    h2 {
      text-align: left;
      font-weight: bold;
      padding-top: 40px;
    }
    ol {
      justify-content: left;
    }
    ol li {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      position: relative;
      font-weight: bold;
      list-style: none;
      width: auto;
      border-radius: 1em;
      background-color: #f5f5f5;
      padding: 1.5em;
      padding-left: 0;
      padding-right: 1em;
      margin-bottom: 1.5em;
      margin-top: 1em;
      margin-right: 2em;
      text-align: left;
      box-shadow: 0px 2px 3px #4e4d4d;
      transform: scale(1);
      transition-property: transform;
      transition-duration: 400ms;
      &:hover {
        transform: scale(1);
        background-color: #f5edff;
        box-shadow: 0px 2px 5px black;
      }
      .imageflottante {
        position: absolute;
        left: -1em;
        top: 20px;
        float: left;
        border: none;
        font-weight: bold;
        border-radius: 50%;
        color: white;
        background-color: #9356dc;
        background-color: $primaire;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 1.7em;
        font-size: 1em;
      }
      .choice {
        padding-left: 20px;
      }
      .choice_icons {
        float: left;
        padding-left: 3em;
        font-size: 1em;
        color: inherit;
        color: #7e7e7e;
        transition-property: transform;
        transition-duration: 400ms;
        cursor: pointer;
        &:hover {
          color: #9356dc;
        }
      }
    }
  }
}
h2 {
  text-align: left;
  padding-left: 1em;
  padding-top: 40px;
}
.restaurants {
  font-weight: bolder;
  position: relative;
  justify-content: space-around;
  line-height: 1em;
  background-color: whitesmoke;
  padding: 1em;
  text-align: center;
  width: auto;
  h3 {
    text-align: left;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 1em 0 0 1em;
    width: auto;
    .heart {
      margin-right: 1em;
    }
  }
  h4 {
    font-weight: normal;
    text-align: left;
    padding-left: 1.2em;
    padding-bottom: 1.5em;
    margin: 0;
    line-height: 5px;
  }
  .heart {
    text-align: right;
    margin-right: 2em;
    vertical-align: top;
  }
  h6 {
    font-weight: normal;
  }
  img {
    border-radius: 1em 1em 0 0;
    position: relative;
    width: 100%;
  }
  .palette {
    background-color: white;
    width: auto;
    border-radius: 1em;
    margin-bottom: 2em;
    position: relative;
    margin-right: 15px;
    margin-left: 7px;
    .new {
      color: green;
      background-color: $tertiaire;
      position: absolute;
      width: 5em;
      top: 30px;
      right: 20px;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }
  }
  .note {
    background-color: white;
    width: auto;
    border-radius: 1em;
    margin-bottom: 2em;
    position: relative;
    margin-right: 15px;
    margin-left: 7px;
    .new {
      color: green;
      background-color: $tertiaire;
      position: absolute;
      width: 5em;
      top: 30px;
      right: 20px;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }
  }
  .lafrançaise {
    background-color: white;
    width: auto;
    border-radius: 1em;
    margin-bottom: 2em;
    position: relative;
    margin-right: 15px;
    margin-left: 7px;
    .new {
      color: green;
      background-color: $tertiaire;
      position: absolute;
      width: 5em;
      top: 30px;
      right: 20px;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }
  }
  .delice {
    background-color: white;
    width: auto;
    border-radius: 1em;
    margin-bottom: 2em;
    position: relative;
    margin-right: 15px;
    margin-left: 7px;
    .new {
      color: green;
      background-color: $tertiaire;
      position: absolute;
      width: 5em;
      top: 30px;
      right: 20px;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }
  }
}

//menu de chaque restaurant

.restau {
  background-color: $whitish;
  border-radius: 1em;
  max-width: 100%;
  line-height: 1.5em;
  .carte {
    position: absolute;
    z-index: 2;
  }
  .view {
    position: relative;
    width: 100%;
    z-index: 1;
    img {
      width: 100%;
      z-index: 1;
    }
    .serving {
      @-webkit-keyframes fadein {
        /* sur Safari et Chrome */
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
  h1 {
    font-family: "Shrikhand", cursive;
    display: flex;
    justify-content: space-between;
    margin: 1em 0 0 1em;
    .heart {
      margin-right: 1em;
    }
  }
  h2 {
    margin-bottom: 3px;
    text-align: left;
  }
  hr {
    margin-left: 1.5em;
    width: 50px;
    border: 3px solid $tertiaire;
  }
  .one {
    -webkit-animation: fadein 500ms; /* Safari et Chrome */
  }
  .two {
    -webkit-animation: fadein 1s; /* Safari et Chrome */
  }
  .three {
    -webkit-animation: fadein 1.5s; /* Safari et Chrome */
  }
  .four {
    -webkit-animation: fadein 2s; /* Safari et Chrome */
  }
  .five {
    -webkit-animation: fadein 2.5s; /* Safari et Chrome */
  }
  .six {
    -webkit-animation: fadein 3s; /* Safari et Chrome */
  }
  .seven {
    -webkit-animation: fadein 3.5s; /* Safari et Chrome */
  }
  .eight {
    -webkit-animation: fadein 4s; /* Safari et Chrome */
  }
  .nine {
    -webkit-animation: fadein 4.5s; /* Safari et Chrome */
  }
  .ten {
    -webkit-animation: fadein 5s; /* Safari et Chrome */
  }
}
article {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 0 0 10px;
  margin: 15px;
  border-radius: 2em;
  height: 7em;
  box-shadow: 0px 1px 1px black;
}
.dish {
  white-space: nowrap;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}
h3 {
  font-weight: bolder;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
}
p {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
}
.price {
  position: relative;
  right: 1px;
  font-weight: bold;
  align-self: center;
  text-align: right;
  margin-left: auto;
  margin-right: 1em;
}
article .check {
  text-align: center;
  background-color: $tertiaire;
  width: 0px;
  overflow: hidden;
  align-self: center;
  justify-content: center;
  align-items: center;
  transition: width 0.5s;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
article:hover > .check {
  width: 100px;
  align-self: center;
  align-self: center;
  .fa-check-circle {
    transform: rotate(360deg);
    transition: transform 0.5s;
  }
}
.check {
  display: flex;
  right: 2em;
  height: 3.75em;
  vertical-align: middle;
  align-self: center;
  border-radius: 0 1em 1em 0;
  background-color: green;
  text-align: right;
  width: 0;
  overflow: hidden;
  transition: width 0.5s;
}
span {
  align-self: center;
}
.fas .fa-check-circle {
  vertical-align: bottom;
  text-align: center;
}
.menu {
  position: relative;
  flex-direction: column;
  text-align: center;
  display: flex;
  top: -100px;
  z-index: 5;
  background-color: $whitish;
  border-radius: 50px 50px 0 0;
  padding: 10px;
}

//pied de page.

footer {
  position: relative;

  font-weight: normal;
  background-color: rgb(63, 63, 63);
  width: auto;
  color: white;
  height: auto;
  text-align: left;
  padding-left: 1em;
  padding-bottom: 1em;
  h2 {
    font-weight: lighter;
    letter-spacing: 0.1em;
    color: white;
    font-family: "Shrikhand", cursive;
    margin: 0;
    padding-left: 0;
    padding-bottom: 1em;
  }
  .icon_footer {
    color: white;
    padding-bottom: 10px;
    .fas .fa-utensils {
      color: white;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
}

//respopnsive ecran ordi

@media screen and (min-width: 1024px) {
  //corp responsive.

  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
  }

  //entête.
  header {
    position: relative;
    flex-direction: row;
    align-items: center;
    margin: auto;
    .fa-arrow-left {
      position: absolute;
      color: black;
      align-self: center;
      top: 2em;
      font-weight: bold;
      left: 120px;
    }
    a {
      position: relative;
      right: 300px;
    }
  }

  //corp responsive.

  section {
    width: 100%;
  }
  h2 {
    display: block;
  }

  .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: space-between;
  }

  .restau {
    background-color: $whitish;
    border-radius: 1em;
    width: 100%;
    .meal {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      vertical-align: middle;
      justify-content: space-between;
      width: 100%;
    }
    .view {
      max-width: 50%;
      vertical-align: middle;
    }
    img {
      margin-left: 50%;
      margin-right: 50%;
      text-align: center;
    }
    .serving {
      width: 400px;
    }
    .dish {
      white-space: nowrap;
      width: 500px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    article:hover > .check {
      width: 50px;
      align-self: center;
      align-self: center;
      .fa-check-circle {
        transform: rotate(360deg);
        transition: transform 0.5s;
      }
    }
  }

  //pied de page.
  footer {
    text-align: center;
    width: 100%;
    padding: 0;
    h2 {
      text-align: center;
    }
  }
}
